/* Header styles */
img.thumbnail {
	height: 45;
	width: 45;
	margin: 0;
	padding: 0;
}

.navbar-brand {
	cursor: pointer;
}

/* Profile page */
img.profile-pic {
	height: 200;
	width: 200;
}

/* Friends list */
img.list-item-pic {
	height: 20;
	width: 20;
}
